<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd" 
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
				xmlns="http://www.springframework.org/schema/beans">
				
		<bean id='t3' class='kr.co.softsoldesk.beans.TestBean'/>		
		<bean id='t4' class='kr.co.softsoldesk.beans.TestBean'/>	
				
</beans>